<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ModelPostCommentContainer" connectionString="metadata=res://*/ModelPostComment.csdl|res://*/ModelPostComment.ssdl|res://*/ModelPostComment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DTPR003296\SQLEXPRESS;initial catalog=ASP_WCF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="ObjectWCF.CommentService" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8001/Comment"
                  binding="basicHttpBinding"
                  contract="ObjectWCF.ICommentService"
                  name="BasicHttpBinding_ICommentService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"
                  name="mexhttp"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataSupport">
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>